<div class="controls container">
  <div class="columns">
    <div class="column col-1">
      <button class="btn btn-action" on:click="$playFrequency()">
        <i class="icon icon-play_circle_outline"></i>
      </button>
    </div>
    <div class="column col-1">
      <button class="btn btn-action">
        <i class="icon icon-skip_previous"></i>
      </button>
    </div>
    <div class="column col-1">
      <button class="btn btn-action">
        <i class="icon icon-skip_next"></i>
      </button>
    </div>
    <div class="column col-2">
      <select class="form-select" name="" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
  </div>
</div>