<div class="step-table-row columns py-1">
  <div class="frequency column col-2">
    <button
      class="btn btn-action btn-link mr-2"
      on:click="$playFrequency(stepIndex)"
    >
      {#if isPlaying}
        <i class="icon icon-pause"></i>
      {:else}
        <i class="icon icon-play_arrow"></i>
      {/if}
    </button>
    <span class="mr-2 text-bold">{step} Hz</span>
    <span class="step-status text-success">
      <i class="icon icon-music_note"></i>
    </span>
  </div>
  <div class="column col-9">
      <input
        class="slider mt-1"
        type="range"
        min="1" max="100" step="1" value="{$results[$setI][stepIndex]}"
        on:input="$setVolume(this.value)"
        disabled={!isPlaying}
      >
  </div>
  <div class="column col-1 text-right">{$results[$setI][stepIndex]}%</div>
</div>

<style>
  .step-table-row:hover {
    background-color: var(--bg-color);
  }
  .step-table-row button {
    font-size: 1rem;
  }
</style>
