<header class="bg-gray">
  <div class="navbar container grid-xl">
    <div class="navbar-section">
      <span class="logo text-uppercase text-primary text-large">Аудиограмма</span>
    </div>
    <div class="navbar-section">
      <button
        class="btn ml-2"
        on:click="$toggleModal('help', true)"
      >
        <i class="icon icon-help_outline"></i>
        <span>Помощь</span>
      </button>
    </div>
  </div>
</header>

<style>
  header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid var(--secondary-color);
  }

  header .navbar {
    height: var(--header-height);
    justify-items: center;
  }

  .logo {
    font-family: var(--f-caption);
    text-shadow: 2px 2px 1px var(--secondary-color);
  }

  @media print {
    header {
      display: none;
    }
  }
</style>
