<Header />
<main class="container grid-xl">
  <Controls />
  <StepsTable />
  <Help />
</main>

<style>
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: calc(var(--header-height) + 1rem);
}
</style>

<script>
  import Header from './Header/Header.html';
  import Controls from './Controls/Controls.html';
  import StepsTable from './StepsTable/StepsTable.html';
  import Help from './Help/Help.html';

  export default {
    oncreate() {
      this.store
        .loadSets()
        .then(() => {
          this.store.chooseSet(0);
        });
    },
    components: {
      Header,
      Controls,
      StepsTable,
      Help
    }
  }
</script>
