<Header />
<main class="container grid-xl">
  <Controls />
  <StepsTable />
  <Help />
</main>
<Footer />
<Export />

<style>
  main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: calc(var(--header-height) + 1rem);
    padding-bottom: calc(var(--footer-height) + .5rem);
  }

  @media print {
    main {
      display: none;
    }
  }
</style>

<script>
  import Header from './Header/Header.html';
  import Controls from './Controls/Controls.html';
  import StepsTable from './StepsTable/StepsTable.html';
  import Help from './Help/Help.html';
  import Export from './Export/Export.html';
  import Footer from './Footer/Footer.html';
  import { FREQUENCIES_SETS_URL } from '../scripts/constants';

  export default {
    oncreate() {
      fetch(FREQUENCIES_SETS_URL)
        .then(response => {
          return response.json()
        })
        .then(json => {
          this.store.set({ loadedSets: json });
        })
        .catch(err => {
          console.log(err);
        });
    },
    components: {
      Header,
      Footer,
      Controls,
      StepsTable,
      Help,
      Export
    }
  }
</script>
