<div class="modal {$modals.export ? 'active' : ''}">
  <div
    class="modal-overlay"
    on:click="$toggleModal('export', false)"
  ></div>
  <div class="modal-container">
    <div class="modal-header">
      <span class="h4">Экспорт</span>
      <span
        class="btn btn-link float-right"
        on:click="$toggleModal('export', false)">X</span>
    </div>
    <div id="report" class="modal-body">
      {#if isReportReady}
        <span class="h5">Аудиограмма пройдена: {ts}</span>
        <div class="columns report-head">
          <div class="column col-2 text-italic">Частота</div>
          <div class="column col-2 text-italic">Громкость</div>
        </div>

        {#each $results[$setI] as vol, i}
          {#if vol !== null}
            <ExportRow hz={$steps[i]} vol={vol} />
          {/if}
        {:else}
          Нет данных для отчета
        {/each}
      {/if}
    </div>
    <div class="modal-footer">
      <button
        class="btn"
        on:click="print()"
      >Сохранить PDF</button>
    </div>
  </div>
</div>

<style>
  .report-head {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--gray-color-light);
  }

  @media print {
    #report {
      background-color: #fff;
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      font-family: Arial, sans-serif;
    }
    #report .h5 {
      font-family: Arial, sans-serif;
    }
  }
</style>

<script>
  import moment from 'moment';
  import ExportRow from './ExportRow.html';

  export default {
    components: {
      ExportRow
    },
    methods: {
      print: () => { window.print() }
    },
    computed: {
      isReportReady: ({$modals}) => ($modals.export),
      ts: ({isReportReady}) => (isReportReady ? moment().format('HH:mm, DD.MM.YYYY') : '-')
    }
  }
</script>
